.contents_main1{"data-message-id": "#{message.id}"}
  .message__sender1
    = message.user.name
  .message__date1
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__details1
    - if message.content.present?
      %p.lower-message__content
        = message.content
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?